@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

    .contenedor-header header {
        max-width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

        .contenedor-header header .logo a {
            font-family: 'Righteous';
            font-size: 36px;
            color: #ffcc00;
            text-decoration: none;
        }

        .contenedor-header header ul {
            display: flex;
            list-style: none;
        }

        .contenedor-header header nav ul li a {
            font-family: 'Righteous';
            text-align: none;
            color: #fff;
            margin: 0 15px;
            padding: 3px;
            transition: .5s;
            text-decoration: none;
        }

            .contenedor-header header nav ul li a:hover {
                color: #ffcc00;
            }

.nav-responsive {
    background-color: #ffcc00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */

.light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    animation: light 0.5s ease-out forwards;
    border-radius: 100%;
    transform: translate(50%, 50%);
    /*animation-iteration-count: infinite;*/
}

@keyframes light {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}


.nosotros {
    background-color: #1e2326;
    color: #fff;
    padding: 1px 20px;
}

    .nosotros .contenido-seccion {
        max-width: 1100px;
        margin: auto;
    }

    .nosotros h2 {
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

    .nosotros .contenido-seccion p {
        font-family: 'Righteous';
        font: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

        .nosotros .contenido-seccion p span {
            color: #ffcc00;
            font-weight: bold;
        }

    .nosotros .fila {
        display: flex;
    }

        .nosotros .fila .col {
            width: 50%;
        }

            .nosotros .fila .col h3 {
                font-size: 28px;
                font-family: 'Righteous';
                margin-bottom: 25px;
            }

            .nosotros .fila .col ul {
                list-style: none;
            }

                .nosotros .fila .col ul li {
                    margin: 12px 0;
                }

                    .nosotros .fila .col ul li strong {
                        display: inline-block;
                        color: #ffcc00;
                        width: 130px;
                    }

                    .nosotros .fila .col ul li span {
                        background-color: #ffcc00;
                        padding: 3px;
                        font-weight: bold;
                        border-radius: 5px;
                    }

            .nosotros .fila .col .contenedor-intereses {
                display: flex;
                flex-wrap: wrap;
            }

                .nosotros .fila .col .contenedor-intereses .interes {
                    width: 110px;
                    height: 100px;
                    background-color: #252A2E;
                    border-radius: 10px;
                    margin: 0 15px 15px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: .3s;
                }

                    .nosotros .fila .col .contenedor-intereses .interes:hover {
                        background-color: #ffcc00;
                    }

                    .nosotros .fila .col .contenedor-intereses .interes i {
                        font-size: 30px;
                        margin-bottom: 10px;
                    }

    .nosotros button {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #fff;
        width: fit-content;
        display: block;
        margin: 20px auto;
        padding: 10px 22px;
        font-size: 16px;
        color: #fff;
        position: relative;
        z-index: 10;
    }

        .nosotros button .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #ffcc00;
            z-index: -1;
            transition: 1s;
        }

        .nosotros button:hover .overlay {
            width: 100%;
        }
/* SECCION S K I L L S */
.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

    .skills .contenido-seccion {
        max-width: 1100px;
        margin: auto;
    }

    .skills h2 {
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

    .skills .fila {
        display: flex;
    }

        .skills .fila .col {
            width: 50%;
            padding: 0 20px;
        }

            .skills .fila .col h3 {
                font-size: 28px;
                font-family: 'Righteous';
                margin-bottom: 25px;
            }

    .skills .skill > span {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }

    .skills .skill .barra-skill {
        height: 8px;
        width: 80%;
        background-color: #131517;
        position: relative;
        margin-bottom: 30px;
    }

    .skills .skill .progreso {
        background-color: #ffcc00;
        position: absolute;
        top: 0;
        left: 0;
        height: 8px;
    }

    .skills .skill .barra-skill span {
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: #ffcc00;
        border-radius: 50px;
        line-height: 40px;
        text-align: center;
        top: -17px;
        right: -15px;
        font-size: 14px;
    }
    /* Estas clases se agregaran dinamicamente mediante javascript */
    .skills .skill .javascript {
        width: 0%;
        animation: 2s javascript forwards;
    }

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .javascript2 {
    width: 0%;
    animation: 1s javascript2 forwards;
}

@keyframes javascript2 {
    0% {
        width: 75%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.skills .skill .htmlcss2 {
    width: 0%;
    animation: 1s htmlcss2 forwards;
}

@keyframes htmlcss2 {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .photoshop {
    width: 0%;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .photoshop2 {
    width: 0%;
    animation: 1s photoshop2 forwards;
}

@keyframes photoshop2 {
    0% {
        width: 95%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .wordpress {
    width: 0%;
    animation: 2s wordpress forwards;
}

@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 81%;
    }
}

.skills .skill .wordpress2 {
    width: 0%;
    animation: 1s wordpress2 forwards;
}

@keyframes wordpress2 {
    0% {
        width: 81%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .drupal {
    width: 0%;
    animation: 2s drupal forwards;
}

@keyframes drupal {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .drupal2 {
    width: 0%;
    animation: 1s drupal2 forwards;
}

@keyframes drupal2 {
    0% {
        width: 90%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .comunicacion2 {
    width: 0%;
    animation: 1s comunicacion2 forwards;
}

@keyframes comunicacion2 {
    0% {
        width: 80%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .trabajo {
    width: 0%;
    animation: 2s trabajo forwards;
}

@keyframes trabajo {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .trabajo2 {
    width: 0%;
    animation: 1s trabajo2 forwards;
}

@keyframes trabajo2 {
    0% {
        width: 70%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 99%;
    }
}

.skills .skill .creatividad2 {
    width: 0%;
    animation: 1s creatividad2 forwards;
}

@keyframes creatividad2 {
    0% {
        width: 99%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.skills .skill .dedicacion2 {
    width: 0%;
    animation: 1s dedicacion2 forwards;
}

@keyframes dedicacion2 {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.skills .skill .proyect {
    width: 0%;
    animation: 2s proyect forwards;
}

@keyframes proyect {
    0% {
        width: 0%;
    }

    100% {
        width: 94%;
    }
}

.skills .skill .proyect2 {
    width: 0%;
    animation: 1s proyect2 forwards;
}

@keyframes proyect2 {
    0% {
        width: 94%;
    }

    100% {
        width: 0%;
    }
}
/* SECCION SERVICIOS */
.servicios {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

    .servicios .contenido-seccion {
        max-width: 1100px;
        margin: auto;
    }

    .servicios h2 {
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

    .servicios .fila {
        display: flex;
        justify-content: space-between;
    }

        .servicios .fila .col {
            width: 49%;
            padding: 0 20px;
        }

            .servicios .fila .col h3 {
                font-size: 28px;
                font-family: 'Righteous';
                margin-bottom: 25px;
            }

        .servicios .fila .izquierda {
            border-right: 2px solid #252A2E;
        }

        .servicios .fila .derecha {
            border-left: 2px solid #252A2E;
        }

        .servicios .fila .item {
            padding: 25px;
            margin-bottom: 30px;
            background-color: #252A2E;
            position: relative;
        }

            .servicios .fila .item h4 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .servicios .fila .item .casa {
                color: #ffcc00;
                font-size: 22px;
                font-weight: bold;
                display: block;
            }

            .servicios .fila .item .fecha {
                display: block;
                color: #ffcc00;
                margin-bottom: 10px;
            }

            .servicios .fila .item p {
                line-height: 24px;
            }

        .servicios .fila .izq {
            border-right: 2px solid #ffcc00;
            margin-right: 20px;
        }

        .servicios .fila .der {
            border-left: 2px solid #ffcc00;
            margin-left: 20px;
        }

        .servicios .fila .item .conectori {
            height: 2px;
            background-color: #ffcc00;
            width: 47px;
            position: absolute;
            top: 50%;
            right: -47px;
            z-index: 5;
        }

            .servicios .fila .item .conectori .circuloi {
                display: block;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #ffcc00;
                float: right;
                position: relative;
                bottom: 4px;
            }

        .servicios .fila .item .conectord {
            height: 2px;
            background-color: #ffcc00;
            width: 47px;
            position: absolute;
            top: 50%;
            left: -47px;
            z-index: 5;
        }

            .servicios .fila .item .conectord .circulod {
                display: block;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #ffcc00;
                float: left;
                position: relative;
                bottom: 4px;
            }
/* SECCION PRODUCTOS */
.productos {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

    .productos .contenido-seccion {
        max-width: 1100px;
        margin: auto;
    }

    .productos h2 {
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

    .productos .galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

        .productos .galeria .proyecto {
            position: relative;
            max-width: 340px;
            height: fit-content;
            margin: 10px;
            cursor: pointer;
        }

            .productos .galeria .proyecto img {
                width: 100%;
                display: block;
            }

            .productos .galeria .proyecto .overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: 1s;
                font-size: 18px;
                letter-spacing: 3px;
                opacity: 0;
            }

                .productos .galeria .proyecto .overlay h3 {
                    margin-bottom: 20px;
                    transition: 1s;
                }

                .productos .galeria .proyecto .overlay:hover {
                    opacity: 1;
                }

                    .productos .galeria .proyecto .overlay:hover h3 {
                        margin-bottom: 0px;
                    }
/* SECCION CONTACTO */
.contacto {
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

    .contacto .contenido-seccion {
        max-width: 1100px;
        margin: auto;
    }

    .contacto h2 {
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

    .contacto .fila {
        display: flex;
    }

    .contacto .col {
        width: 50%;
        padding: 10px;
        position: relative;
    }

        .contacto .col input, .contacto .col textarea {
            display: block;
            width: 100%;
            padding: 18px;
            border: none;
            margin-bottom: 20px;
            background-color: #252A2E;
            color: #fff;
            font-size: 18px;
        }

    .contacto button {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #fff;
        width: fit-content;
        display: block;
        margin: 20px auto;
        padding: 10px 22px;
        font-size: 16px;
        color: #fff;
        position: relative;
        z-index: 10;
    }

        .contacto button .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #ffcc00;
            z-index: -1;
            transition: 1s;
        }

        .contacto button:hover .overlay {
            width: 100%;
        }

    .contacto .col img {
        width: 100%;
    }

    .contacto .col .info {
        position: absolute;
        top: 40%;
        background-color: #252A2E;
        padding: 20px;
        max-swidth: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .contacto .col .info ul {
            list-style: none;
        }

            .contacto .col .info ul li {
                margin-bottom: 20px;
            }

                .contacto .col .info ul li i {
                    color: #ffcc00;
                    display: inline-block;
                    margin-right: 20px;
                }

footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

    footer .redes {
        margin-bottom: 20px;
    }

        footer .redes a {
            color: #fff;
            display: inline-block;
            text-decoration: none;
            border: 1px solid #fff;
            border-radius: 100%;
            width: 42px;
            height: 42px;
            line-height: 42px;
            margin: 40px 5px;
            font-size: 20px;
            transition: .3s;
        }

            footer .redes a:hover {
                background-color: #ffcc00;
            }

    footer .arriba {
        display: block;
        width: 50px;
        height: 50px;
        background-color: #ffcc00;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
        border-radius: 50%;
        line-height: 50px;
        font-size: 18px;
    }
/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

        nav.responsive ul {
            display: block !important;
        }

            nav.responsive ul li {
                border-bottom: 1px solid #fff;
                padding: 10px 0;
            }
}

@media screen and (max-width:700px) {
    .nosotros .fila {
        display: block;
    }

        .nosotros .fila .col {
            width: fit-content;
        }

    .skills .fila {
        display: block;
    }

        .skills .fila .col {
            width: 100%;
        }

            .skills .fila .col .barra-skill {
                width: 100%;
            }

    .servicios .fila {
        display: block;
    }

        .servicios .fila .col {
            width: 90%;
        }

        .servicios .fila .derecha {
            margin-left: 20px;
        }

    .productos .galeria {
        display: block;
        width: 100%;
    }

        .productos .galeria .proyecto {
            max-width: 100%;
        }

            .productos .galeria .proyecto img {
                width: 100%;
            }

    .contacto .fila {
        display: block;
    }

        .contacto .fila .col {
            width: 100%;
        }
}

.gallery {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}

.gallery-main {
    position: relative;
    height: 0;
    padding-bottom: 66.666%; /* 3:2 aspect ratio */
}

    .gallery-main img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

        .gallery-main img.active {
            opacity: 1;
        }

.gallery-thumbnails {
    margin-top: 10px;
    position: relative;
}

    .gallery-thumbnails img {
        width: 80px;
        height: auto;
        margin-right: 10px;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out;
    }

        .gallery-thumbnails img.active-thumbnail {
            opacity: 1;
        }

/*Transici�n cuando se expande la im�gen activa*/
.gallery-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.gallery-thumbnails-outer {
    position: relative;
    overflow: hidden;
}

.gallery-thumbnails-inner {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.4s ease-in-out;
}

.gallery-thumbnail {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.active-thumbnail {
    transform: scale(1.2);
    z-index: 1;
}

.gallery-thumbnails-prev,
.gallery-thumbnails-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
}

.gallery-thumbnails-prev {
    left: 0;
}

.gallery-thumbnails-next {
    right: 0;
}

/* ------------------------------------------ CARD_INICIO ------------------------------------------------------*/
.card-inicio {
    position: relative;
    margin: 0;
    top: 150px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    height: 400px;
    background: #0000;
    border-radius: 50px;
}

    .card-inicio .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .card-inicio .image img {
            width: 100%;
            transition: .5s;
        }

    .card-inicio:hover .image img {
        opacity: .5;
        transform: translateX(30%); /*100%*/
    }

    .card-inicio .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%; /*100%*/
        height: 100%;
        background: #ffcc00;
        transition: .5s;
        transform-origin: left;
        transform: perspective(2000px) rotateY(-90deg);
        border-radius: 50px;
    }

    .card-inicio:hover .details {
        transform: perspective(2000px) rotateY(0deg);
    }

    .card-inicio .details .center {
        padding: 20px;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0%;
    }

        .card-inicio .details .center h1 {
            margin: 0;
            padding: 0;
            color: #ff3636;
            line-height: 20px;
            font-size: 20px;
            text-transform: uppercase;
        }

            .card-inicio .details .center h1 span {
                font-size: 14px;
                color: #262626;
            }

        .card-inicio .details .center p {
            margin: 10px 0;
            padding: 0;
            color: #262626;
        }

        .card-inicio .details .center ul {
            margin: 10px auto 0;
            padding: 0;
            display: table;
        }

            .card-inicio .details .center ul li {
                list-style: none;
                margin: 0 5px;
                float: left;
            }

                .card-inicio .details .center ul li a {
                    display: block;
                    background: #262626;
                    border-radius: 50px;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    transform: .5s;
                }

                    .card-inicio .details .center ul li a:hover {
                        background: #ffcc00;
                    }


/* CARDS */
html {
    box-sizing: border-box;
    font-family: "Nothing You Could Do";
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    background-color: #F1F1F1;
    display: contents;
    justify-content: center;
    align-items: center;
}

.heading {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2vmin 3vmin;
    color: #999;
}

.card-container {
    position: relative;
    width: 65vmin;
    height: 80vmin;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0s linear 0.5s, max-width 0s linear 0.5s;
    max-width: 0%;
    margin: 0 auto;
}

    .card-container.show {
        opacity: 1;
        height: 649px;
        width: 500px;
        max-width: 100%;
        transition: opacity 0.5s ease, max-width 0.5s ease, height 0s linear 0.5s;
    }

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(#111, .35);
    transition: transform .35s ease-out;
    transform: translate(var(--x), var(--y)) scale(.35) rotate(var(--angle));
    will-change: transform;
        &:hover{
            transform: scale(1) rotate(0deg);
            z-index: 1;
        &:before{
            opacity: 1;
        }
    }
}

.card:before {
    content: "";
    display: block;
    width: 90%;
    height: 80%;
    margin: 5%;
    background: var(--image) center center no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 5px rgba(#222, .35);
    border-radius: 2px;
    filter: sepia(.2) brightness(.9) contrast(1.2);
    transition: opacity .35s ease-out;
    opacity: 1;
    will-change: opacity;
}

.card:after {
    display: block;
    content: var(--caption);
    font-weight: 500;
    color: #555;
    font-size: 3vmin;
    opacity: .75;
    text-align: center;
}


/* ---------------------------- CARD PRUEBA ------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$barbarian: #EC9B3B;
$archer: #EE5487;
$giant: #F6901A;
$goblin: #82BB30;
$wizard: #4FACFF;

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: #9E9E9E;
    margin-top: 30px;
}

.slide-container {
    margin: auto;
    width: 100%;
    max-width: fit-content;
    text-align: center;
}

    .slide-container .wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
            &:focus{
            outline: 0;
        }
    }

.slide-container .clash-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
}

.slide-container .clash-card__image {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
}

.card-productos {
    position: relative;
    width: 65vmin;
    height: 80vmin;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0s linear 0.5s, max-width 0s linear 0.5s;
    max-width: 0%;
    margin: 0 auto;
}

    .card-productos.show {
        opacity: 1;
        height: auto;
        width: 500px;
        max-width: 100%;
        transition: opacity 0.5s ease, max-width 0.5s ease, height 0s linear 0.5s;
    }

    .slide-productos {
        /*margin: auto;
        height: 100%;
        width: 100%;
        max-width: fit-content;
        text-align: center;*/
        position: relative;
        width: 65vmin;
        height: 80vmin;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, height 0s linear 0.5s, max-width 0s linear 0.5s;
        margin: 0 auto;

        max-width: fit-content;
    }

    .slide-productos.show {
        opacity: 1;
        height: auto;
        width: 500px;
        max-width: 100%;
        transition: opacity 0.5s ease, max-width 0.5s ease, height 0s linear 0.5s;
    }

    .slide-productos .wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
            &:focus{
            outline: 0;
        }
    }

.slide-productos .clash-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
}

.slide-productos .clash-card__image {
    position: relative;
    width: 40px;
    margin-bottom: 35px;
}

.slide-productos .clash-card__image--barbarian {
    background: url('img/productos/a_seguridad/p4_1.png');
    img{
        width: 400px;
        position: relative;
        top: -65px;
        left: -70px;
    }
}

.clash-banner__image {
    position: relative;
    width: max-content;
    margin-bottom: 35px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
}

.clash-productos__image {
    position: relative;
    height: 50px;
    width: 50px;
    margin-bottom: 35px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
}

/* SECCION BANNER RESPONSIVE */
@media screen and (max-width:1600px) {

    .clash-banner__image {
        top: 50px;
        bottom: 50px;
        position: relative;
        width: max-content;
    }
}

@media screen and (max-width:980px) {
    
    .clash-banner__image {
        top: 150px;
        bottom: 50px;
        position: relative;
        width: max-content;
    }
}

@media screen and (max-width:750px) {

    .clash-banner__image {
        top: 100px;
        bottom: 50px;
        position: relative;
        width: max-content;
    }
}

@media screen and (max-width:550px) {

    .clash-banner__image {
        top: 90px;
        bottom: 50px;
        position: relative;
        width: max-content;
    }
}

@media screen and (max-width:500px) {

    .clash-banner__image {
        top: 80px;
        bottom: 50px;
        position: relative;
        width: max-content;
    }
}

@media screen and (max-width:470px) {

    .clash-banner__image {
        top: 10px;
        bottom: 50px;
        position: relative;
        width: max-content;
    }
}

@media screen and (max-width:480px) {

    .clash-banner__image {
        top: 10px;
        bottom: 50px;
        position: relative;
        width: max-content;
    }
}

@media screen and (max-width:400px) {

    .clash-banner__image {
        top: 10px;
        bottom: 50px;
        position: relative;
        width: max-content;
    }
}

.clash-card__image--barbarian {
    background: url('img/productos/a_seguridad/p4_1.png');
    img{
        width: 400px;
        position: relative;
        top: -65px;
        left: -70px;
    }
}

.clash-card__image--archer {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
    img

{
    width: 400px;
    position: absolute;
    top: -34px;
    left: -37px;
}

}

.clash-card__image--giant {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg');
    img

{
    width: 340px;
    position: absolute;
    top: -30px;
    left: -25px;
}

}

.clash-card__image--goblin {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
    img

{
    width: 370px;
    position: absolute;
    top: -21px;
    left: -37px;
}

}

.clash-card__image--wizard {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg');
    img

{
    width: 345px;
    position: absolute;
    top: -28px;
    left: -10px;
}

}

.clash-card__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}

.clash-card__level--barbarian {
    color: $barbarian;
}

.clash-card__level--archer {
    color: $archer;
}

.clash-card__level--giant {
    color: $giant;
}

.clash-card__level--goblin {
    color: $goblin;
}

.clash-card__level--wizard {
    color: $wizard;
}

.clash-card__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

.clash-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
    background: $barbarian;
    .one-third

{
    border-right: 1px solid #BD7C2F;
}

}

.clash-card__unit-stats--archer {
    background: $archer;
    .one-third

{
    border-right: 1px solid #D04976;
}

}

.clash-card__unit-stats--giant {
    background: $giant;
    .one-third

{
    border-right: 1px solid darken($giant, 8%);
}

}

.clash-card__unit-stats--goblin {
    background: $goblin;
    .one-third

{
    border-right: 1px solid darken($goblin, 6%);
}

}

.clash-card__unit-stats--wizard {
    background: $wizard;
    .one-third

{
    border-right: 1px solid darken($wizard, 6%);
}

}

.clash-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: $border-radius-size;
    border-bottom-right-radius: $border-radius-size;
    .one-third

{
    width: 33%;
    float: left;
    padding: 20px 15px;
}

sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}

.stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}

.stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.no-border {
    border-right: none;
}

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.slick-prev {
    left: 100px;
    z-index: 999;
}

.slick-next {
    right: 100px;
    z-index: 999;
}


/* --------------------------------------------------------------------------------- */

